@model Projecte_Final.Models.Equipo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Unidad1.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad1.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidad2.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad2.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidad3.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad3.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidad4.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad4.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidad5.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad5.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unidad6.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad6.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EquipoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
