@model IEnumerable<Projecte_Final.Models.Stats>

@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Personaje.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPersonaje.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ataque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Defensa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recuperacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Personaje.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoPersonaje.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ataque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Defensa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recuperacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StatsID }) |
            @Html.ActionLink("Details", "Details", new { id=item.StatsID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StatsID })
        </td>
    </tr>
}

</table>
