@model IEnumerable<Projecte_Final.Models.TipoBB>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTipoBB)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTipoBB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoID })
        </td>
    </tr>
}

</table>
